/* BASES */

@import "base/mixins";
@import "base/reset";
@import "base/base";
@import "base/variables";



/* COMPONENTS */

@import "components/navigation";
@import "components/grid";
@import "components/sections";
@import "components/typography";
@import "components/buttons";
@import "components/backgrounds";
@import "components/breakpoints";
@import "components/arrows";
@import "components/links";

body
{
	font-family:$heading-font-family;
	box-sizing:border-box;
	color:$white;
	text-align: center;
}

/* PANELS */

.panel
{
	width: 100%;
	height:100vh;	
}

/* BACKGROUND COLORS */

.bg1
{ 
	/*red to purple*/
	
	background: rgb(255,0,0); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(255,0,0,1) 0%, rgba(51,0,51,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,0,0,1)), color-stop(100%,rgba(51,0,51,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(255,0,0,1) 0%,rgba(51,0,51,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(255,0,0,1) 0%,rgba(51,0,51,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(255,0,0,1) 0%,rgba(51,0,51,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(255,0,0,1) 0%,rgba(51,0,51,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#330033',GradientType=1 ); /* IE6-9 */
}
.hidden
{
	display: none;
}

/* SLIDESHOW */

.slideshow
{
	
	height: 100%;
	height: 100vh;
	position: relative;
	background-color: #000000;
	background-color:rgba(0,0,0,.8);
	text-align: center;
}

#slide-container
{
	position: relative;
	width: 340px;
	max-width: 340px;
	height:400px;
	max-height: 400px;	
	margin:1em auto;
	background-color: #000000;
}

#slide-container img
{
	width: 100%;
	
}

.slide-navigation
{
	position: absolute;
	width: 100%;
	top:45%;
}
#close
{
	height:20px;
	width:20px;
	position: absolute;
	top: -30;
	right: -30;
	border: 2px solid $white;
	border-radius: 100px;
}
